* {
    padding: 0;
    margin: 0;
}

h1 {
    color: #0066ff;
    font-family: Arial;
}

p {
    color: #09f;
    font-size: 14;
}

.item_menu {
    color: #0066ff;
    background-color: #039;
    font-family: Arial;
    font-size: 14pt;
}

.item_h {
    color: #09f;
    font-size: 1.5em;
}

#banner {
    color: #fff;
    font-family: Arial;
    background-color: #9cf;
    font-size: 14pt;
}

.menu_sup {
    font-family: Arial;
    font-size: 14pt;
    color: blue;
}

.cabeecalho {
    font-family: Arial;
    font-size: 12pt;
    color: red;
}